
.body {
  font-family: Arial;
  padding: 25px;
  background-color: #f5f5f5;
  color: #808080;
      text-align: center;	
      
}

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
    position: relative;
    display:inline;
    display: inline-block;
   
    margin-right: 2%;
    margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper { width: auto; margin: 30px auto; position: relative;}
.counter { background-color: #ffffff; padding: 20px 0; border-radius: 5px;}
.count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }


.wrapper {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.counter {
  width: 50%; /* Set width to 50% for two boxes per row on mobile */
}

@media screen and (min-width: 768px) {
  .counter {
    width: 25%; /* Reset width to 25% for four boxes per row on larger screens */
  }
  .body{
    width: 100%;
  }
  
}