/* Created By : Mohammad Al Hefel */

 
.container1 {
  width: 100%;
  height: 100%;
  padding: 0 8%;
}
.container1 h2 {
  text-align: center;
  padding-top: 6%;
  margin-bottom: 60px;
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
}
.container1 h2::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background-color: var(--main-color);
  border-radius: 20px;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.row .service {
  padding: 25px 15px;
  background: transparent;
  font-size: 15px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.row .service:hover {
  color: #fff;
  background-color: var(--main-color);
  transform: scale(1.05);
  background-color: #6c5ce7;
}
.row .service i {
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 40px;
  transition: 0.5s;
}
.row .service:hover i {
  color: #fff;
}
.row .service h2 {
  font-weight: 600;
  margin-bottom: 20px;
}