

.body0 {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color:  map-get(palette, foreground);
  text-align: center;
  font-size: 18px;
}

.container1 {
  background: white;
  color: map-get(palette, foreground);

}

.header {
  height: 60px;
  background: map-get(palette, primary);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  
  .logo {
    text-transform: uppercase;
  }
}

.nav ul li {
  display: inline-block;
  padding: 5px;
  
  &:last-child { 
    padding-right: 0;
  }
  
  a {
    display: block;
    cursor: pointer;
  }
}

.hero {
  height: 420px;
  background: map-get(palette, primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-button {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: white;
	background: map-get(palette, secondary);
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.hero-button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.hero-button:hover {
  box-shadow: 0 4px darken(map-get(palette, secondary), 10%);
}

.hero-button:active {
  box-shadow: 0 0 #ab3c3c;
  -webkit-transform: translate3d(0, 2px, 0);
	-moz-transform: translate3d(0, 2px, 0);
}

.partners {
  padding: 10px;
}

@-webkit-keyframes slideleft {
  0% {
    background-position: 385000px;
  }
  100% {
    background-position: 0;
  }
}

@keyframes slideleft {
  0% {
    background-position: 385000px;
  }
  100% {
    background-position: 0;
  }
}

.partners-img-container {
  height: 100px;
  width: 95%;
  overflow: auto;
}

.partners-img-container::-webkit-scrollbar { width: 0 !important } /* hide scrollbar in Chrome */
.partners-img-container { scrollbar-width: none; } /* hide scrollbar in mozilla */
.partners-img-container { -ms-overflow-style: none; } /* hide scrollbar in IE */

.partners-img-container .partners-img {
  height: 100%;
  width: 100vw;
  background: transparent url(https://squeeze-pics.s3-us-west-2.amazonaws.com/v2/assets/Web+Assets/heroes/Auto-insurance/insurancelogos.jpg) repeat-x 50% 0;
  -webkit-animation: slideleft 5000s linear infinite;
  animation: slideleft 5000s linear infinite;
  cursor: grab;
}
