
.slides {
  height: 38vh;
  width: 49vw;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  border: 4px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  margin-right: 16%;
}

.slide {
  position: absolute;
  height: 100%;
  width: 102%;
  opacity: 0;
  inset: 0;
  animation: slide-show 12s infinite;
}

.slide-2 {
  animation-delay: 4s;
}

.slide-3 {
  animation-delay: 8s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes slide-show {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20%,
  30% {
    opacity: 1;
    scale: 1.03;
  }
  50% {
    opacity: 0;
  }
}